extends ../shared/layout
block main-content

  - courses = courses || []
  - var nextPage = page + 1;
  - var prevPage = ((page - 1) > 0) ? page - 1 : page;
  - var maxPage = Math.ceil((courses.length + 1 ) / pageSize);

  .row
    .col-lg-12
      h1.page-header Courses
        if(menuResolver.isAdmin)
          a.btn.btn-success.btn-default.pull-right(href='/courses/add') Add new course
  .row
    .col-lg-12
      form(action='/courses')
        fieldset
          if(menuResolver.isAuthenticated)
            .row
              .col-md-6
                .form-group
                  .text-center
                    .label.control-label.label-default(for='sort') Sort by:
                    div
                      select#sort.form-control(name='sort')
                        if(params && params.sort && params.sort == 'madeOn')
                          option(value='madeOn', selected='selected') Date
                        else
                          option(value='madeOn') Date

              .col-md-6
                .form-group
                  .text-center
                    .label.control-label.label-default(for='order') Order by:
                    div
                      select#order.form-control(name='order')
                        if(params && params.order && params.order == '1')
                          option(value='1' selected='selected') Ascending
                        else
                          option(value='1') Ascending

                        if(params && params.order && params.order == '-1')
                          option(value='-1' selected='selected') Descending
                        else
                          option(value='-1') Descending

          .row
            .col-md-3
              .form-group
                button.btn-primary.btn(type='submit', name='page', value='#{prevPage}') «
                if(prevPage !== page)

                  button.btn-primary.btn(type='submit', name='page', value='#{prevPage}')= prevPage

                button.btn-success.btn(type='submit', name='page', value='#{page}')= page
                if(maxPage >= page)

                  button.btn-primary.btn(type='submit', name='page', value='#{nextPage}')= nextPage

                  button.btn-primary.btn(type='submit', name='page', value='#{nextPage}') »

            .col-md-2.text-right Page size:

            .col-md-2.text-left
              .form-group
                select#page-size.form-control(name='pageSize')
                  if(pageSize && pageSize === 5)
                    option(value='5' selected='selected') 5
                  else
                    option(value='5') 5

                  if(pageSize && pageSize === 10)
                    option(value='10' selected='selected') 10
                  else
                    option(value='10') 10

                  if(pageSize && pageSize === 20)
                    option(value='20' selected='selected') 20
                  else
                    option(value='20') 20

                  if(pageSize && pageSize === 50)
                    option(value='50' selected='selected') 50
                  else
                    option(value='50') 50



            .col-md-5.text-right
              .form-group
                div
                  button.btn.btn-primary.full-width(type='submit') Submit

  .row
    .col-lg-12
      if(courses && courses.length > 0)
        .table-responsive
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th Course
                th Added on
            tbody
              each crs in courses
                tr
                  td
                    a(href='courses/#{crs.name}')
                      span #{crs.name}
                  td #{prettyDate(crs.madeOn)}

      else
        .text-center
          h2 No secrets in the box, try again!
          img(src='/assets/no-result.gif')
