extends ../shared/layout
block main-content
  .row
    .col-lg-12
      h2 Submission #{submission.id}
      .table-responsive
        table.table.table-striped.table-hover.table-bordered
          thead
            tr
              th Problem
              th User
              th Submitted at
              th Points
          tbody
            tr.success
              td
                a(href='/problems/#{submission.problem.id}') #{submission.problem.name}
              td
                a(href='/users/#{submission.user.username}') #{submission.user.username}
              td #{submission.madeOn}
              td #{submission.points}
  .row
    .col-lg-12
      .panel.panel-success
        .panel-heading
          h3.panel-title Code
        .panel-body
          pre #{submission.code}


