extends ../shared/layout
block main-content
    if usersByRank.length === 0
        .text-center.angry
            img(src="/assets/angry.png")
            h1 Rank ranges from 0 to 100.
            h3 No users were found between #{queryFrom} and #{queryTo}
            br
            a.btn.btn-primary.btn-lg(href="/api/users/rankings") Try again
    else
        .text-center
            h1 Users with ranking between #{queryFrom} and #{queryTo}
            .text-center.jumbotron
                a.btn.btn-primary.btn-lg(href="/api/users/rankings") Try again
            .well
                table.table-half-size.table.table-striped.table-hover
                    thead
                        tr
                            th.text-center #
                            th.text-center Username
                            th.text-center Points
                    tbody
                        each user,i in usersByRank
                            tr.text-center
                                td=i + 1
                                td=user.username
                                td=user.points
                img(src="/assets/thinking.png")
